* {
    margin: 0px;
    padding: 0px;
    font-family: 'Chakra Petch', sans-serif;
    font-size: 16px;
}

body {
    background-color: rgba(214, 50, 165, 0.76);
}

.header {
    width: 100%;
    height: 80px;
    background-image:linear-gradient(rgba(170, 23, 126, 0.87), hsla(0, 12%, 79%, 0.315));
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1;
}

.logo {
    width: 60px;
    display: flex;
    margin: 10px;
}

.logo img {
    width: 100%;
    border-radius: 40%;
}

.logo a:hover {
    text-shadow: 10px;
}

.navbar {
    display: flex;
}

.navbar ul {
    display: flex;
    
}

.navbar ul li {
    display: inline-block;
    margin: 30px 3px;
    position: relative;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    font-size: 1.125rem;
    padding: 10px 5px;
    border: 1px solid rgba(0,0,0,0.4);
    border-radius: 10px;
    background-color: rgba(24, 73, 206, 0.678);
    color: whitesmoke;
}

.navbar a:hover {
    background-color:lightslategrey;
    color: rgba(170, 23, 126, 0.87);
}

.navbar a:active {
    text-shadow: 1px 1px 2px red, 0 0 1em blue, 0 0 0.2em blue;
}

.container {
    display: flex;
    background-image: linear-gradient(rgba(139, 29, 47, 0.486), rgba(139, 29, 47, 0.486)), url('1920x1080-344522-Car-Night-Scenery-Retrowave-Synthwave-Vaporwave-Palm-Trees-Digital-Art.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    position: relative;
    border-bottom: 1px solid gray;
}

.aboutus {
    width: 40%;
    height: 30vh;
    text-align: center;
    margin-top: 200px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(116, 113, 113, 0.432);
    margin-left: 30%;
    margin-bottom: 8%;
    display: block;
}

.aboutus h1 {
    font-size: 2.5rem;
    margin-top: 5px;
    margin-bottom: 2px;
    color: whitesmoke
}

.aboutus p {
    margin-bottom: 10px;
    color: whitesmoke;
}

.ourgames {
    width: 40%;
    height: auto;
    text-align: center;
    margin-top: 150px;
    border: 1px solid gray;
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(116, 113, 113, 0.432);
    margin-left: 30%;
    margin-bottom: 8%;
}

.ourgames h1 {
    text-align: center;
    font-size: 2.5rem;
    color: whitesmoke;
    margin-bottom: 5%;
}

.game-col {
    display: block;
}

.game-col h3 {
    font-size: 2rem;
    color: whitesmoke;
    margin: 5
}

img {
    width: 90%;
}

@media (max-width: 700px) {
    .logo {
        width: 40px;
        margin-left: 10px;
        margin-top: 20px;
    } 
    
    .navbar a {
        font-size: 0.85rem;
    }

    .aboutus {
        width: 40%;
        align-items: center;
        display: block;
    }

    img {
        width: 90%;
    }
}

@media (max-width: 396px) {
    .navbar a {
        font-size: 0.5rem;
    }

    .aboutus {
        height: 450px;
    }

    .ourgames h3 {
        font-size: 1.5rem;
        margin: 10px 0;
    }

    #contacts h1 {
        font-size: 1.675rem;
    }

    #contacts {
        height: 100px;
    }
}
